* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: heimat-mono, sans-serif;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: heimat-mono, sans-serif;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: heimat-mono, sans-serif;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: heimat-mono, sans-serif;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: heimat-mono, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: heimat-mono, sans-serif;
  font-weight: 400;
  font-style: italic;
}
html, body {
  font-family: heimat-mono, sans-serif;
  height: 100%;
}

a {
  color: inherit;
}

.text-primary {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.text-primary p:not(:first-of-type) {
  margin-top: 0px;
}

.text-secondary {
  font-size: 14px;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  height: 100%;
}

.left-half, .right-half {
  flex: 1 1 50%;
}

.left-half .inner {
  display: flex;
  height: 100%;
  margin-left: auto;
  max-width: 840px;
}

.left-col {
  align-items: center;
  display: flex;
  flex: 0 0 160px;
  justify-content: center;
}
.left-col .caption {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  transform: rotate(-180deg);
  writing-mode: tb-rl;
}
.mid-col {
  flex: 1 1 auto;
  overflow-y: scroll;
  scrollbar-width: none;
}
.mid-col::-webkit-scrollbar {
  display: none;
}
.mid-col .section {
  padding-bottom: 40px;
  padding-top: 40px;
}
.mid-col .section:first-of-type {
  padding-top: 80px;
}
.mid-col .section:last-of-type {
  padding-bottom: 80px;
}
.mid-col .section.about {
  padding-right: 80px;
}
.mid-col .section.work .accordion .item {
  border-bottom: 1px solid black;
  padding-right: 80px;
}
.mid-col .section.work .accordion .item:not(:first-of-type) {
  padding-top: 10px;
}
.mid-col .section.work .accordion .item.active .header h2 {
  font-weight: 800;
}
.mid-col .section.work .accordion .item .header {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3px;
  user-select: none;
}
.mid-col .section.work .accordion .item .header h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.mid-col .section.work .accordion .item .header h2.second {
  font-weight: normal;
}
.mid-col .section.work .accordion .item .header h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.mid-col .section.work .accordion .item .header h3.second {
  font-size: 14px;
  font-weight: 900;
}
.mid-col .section.work .accordion .item .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.mid-col .section.work .accordion .item .content > *:first-child {
  padding-top: 17px;
}
.mid-col .section.work .accordion .item .content > *:nth-last-child(2) {
  padding-bottom: 20px;
}
.mid-col .section.work .accordion .item .content .slideshow {
  align-items: flex-start;
  background-color: #fff;
  cursor: initial;
  display: flex;
  flex-direction: column;
  height: 100%;
  opacity: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: opacity 0.2s;
  width: calc(50% - 0.5px);
}
.mid-col .section.work .accordion .item .content .slideshow .slides {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: calc(100% - 40px);
  justify-content: center;
  padding: 40px 120px;
  pointer-events: none;
  position: relative;
  width: 100%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide {
  align-items: center;
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide video, .mid-col .section.work .accordion .item .content .slideshow .slides .slide iframe {
  pointer-events: all;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide.active {
  display: flex;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide.max-height-10 {
  max-height: 10%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide.max-height-20 {
  max-height: 20%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide.max-height-30 {
  max-height: 30%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide.max-height-40 {
  max-height: 40%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide.max-height-50 {
  max-height: 50%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide.max-height-60 {
  max-height: 60%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide.max-height-70 {
  max-height: 70%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide.max-height-80 {
  max-height: 80%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide.max-height-90 {
  max-height: 90%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide * {
  max-height: 100%;
  max-width: 100%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide p {
  margin: 0 auto 8px 0;
  max-width: 460px;
  text-align: left;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide b {
  margin: 0 auto 0 0;
  max-width: 460px;
  text-align: left;
}
.mid-col .section.work .accordion .item .content .slideshow .slides .slide small {
  font-size: 14px;
}
.mid-col .section.work .accordion .item .content .slideshow .slides-indicator {
  display: flex;
  flex: 0 0 20px;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}
.mid-col .section.work .accordion .item .content .slideshow .slides-indicator hr {
  border-block-end: 0;
  border-block-start: 0;
  border-left: 1px solid black;
  border-right: 3px solid white;
  margin-right: 10px;
}
.mid-col .section.work .accordion .item .content .slideshow .slides-indicator hr.active {
  border-left: 4px solid black;
  border-right: none;
  transform: translateX(-1px);
}
.mid-col .section.work .accordion .item .content .slideshow .slides-indicator hr:last-child {
  margin-right: 0;
}
.mid-col .section.work .accordion .item.active .header h3 {
  max-height: 25px;
}
.mid-col .section.work .accordion .item.active .slideshow {
  opacity: 1;
  z-index: 2;
}
.mid-col .section.work .accordion .item.active .btn {
  cursor: pointer;
  height: 100%;
  position: absolute;
  user-select: none;
  width: 50%;
}
.mid-col .section.work .accordion .item.active .btn.left {
  cursor: url("back.png"), pointer;
  left: 0;
}
.mid-col .section.work .accordion .item.active .btn.right {
  cursor: url("next.png"), pointer;
  right: 0;
}
.mid-col .section.contact {
  padding-right: 80px;
}
.mid-col .section.contact .freelance-link {
  display: inline-block;
  position: relative;
}
.mid-col .section.contact .freelance-link:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  transform: rotate(45deg);
  top: 10px;
  right: -12px;
}
.mid-col .section.contact table {
  width: 100%;
}
.mid-col .section.contact table tr td:last-of-type {
  padding-left: 10px;
}
.mid-col .section.contact p {
  margin-top: 40px;
}

.right-col {
  background-color: #fff;
  border-left: solid 1px black;
  flex: 1 1 50%;
}

.scrollbar {
  cursor: ns-resize;
  font-style: normal;
  font-weight: 800;
  left: calc(50% - 16px);
  position: absolute;
  text-transform: uppercase;
  top: 40px;
  z-index: 3;
}

@media screen and (max-width: 1100px) {
  .left-col, .right-col {
    display: none;
  }

  .left-half {
    flex: 1 1 100%;
  }
  .left-half .inner {
    max-width: unset;
  }
  .left-half .mid-col {
    padding: 25px;
  }
  .left-half .mid-col .section {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .left-half .mid-col .section:first-of-type {
    padding-top: 0;
  }
  .left-half .mid-col .section:last-of-type {
    padding-bottom: 0;
  }
  .left-half .mid-col .section.about {
    padding-right: 0;
  }
  .left-half .mid-col .section.work .accordion .item {
    padding-right: 0;
    width: calc(100% + 25px);
  }
  .left-half .mid-col .section.work .accordion .item.active .content {
    overflow: visible;
  }
  .left-half .mid-col .section.work .accordion .item .header {
    padding-right: 25px;
  }
  .left-half .mid-col .section.work .accordion .item .content {
    padding-right: 25px;
  }
  .left-half .mid-col .section.work .accordion .item .content > *:nth-last-child(2) {
    padding-bottom: 0;
  }
  .left-half .mid-col .section.work .accordion .item .content .slideshow {
    margin-left: -25px;
    opacity: 1;
    position: relative;
    transition: none;
    width: calc(100% + 50px);
  }
  .left-half .mid-col .section.work .accordion .item .content .slideshow .slides {
    flex: 1 1 calc(100% - 150px);
    padding: 25px 0;
  }
  .left-half .mid-col .section.work .accordion .item .content .slideshow .btn {
    flex: 0 0 75px;
  }
  .left-half .mid-col .section.work .accordion .item .content .slideshow .btn > hr {
    margin: 0 25px;
    width: 25px;
  }
  .left-half .mid-col .section.contact {
    padding-right: 0;
  }
  .left-half .mid-col .section.contact p {
    margin-top: 50px;
  }
  .left-half .mid-col .section.contact tr td {
    box-sizing: border-box;
    clear: both;
    display: block;
  }
  .left-half .mid-col .section.contact tr td:last-of-type {
    margin-bottom: 8px;
    padding-left: 0;
  }

  .scrollbar {
    left: unset;
    right: 10px;
    top: 10px;
  }
}
.fullscreen {
  display: none;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  z-index: 4206988;
}
.fullscreen.show {
  display: block;
}

@keyframes ani {
  0% {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
  80% {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
  99% {
    opacity: 0;
    height: 100%;
    width: 100%;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;
  }
}
.welcome {
  align-items: center;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: ani;
  background: #000;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.welcome .logo {
  text-align: center;
  width: 100%;
}
.welcome .hi {
  bottom: 100px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.freelance-page {
  background: #F1EBE9;
}
.freelance-page .right-half {
  background: unset;
}
.freelance-page .goback {
  position: absolute;
  right: 80px;
  top: 80px;
}
@media screen and (max-width: 1100px) {
  .freelance-page .goback {
    right: 12.5px;
    top: 12.5px;
  }
}

.fancylist {
  list-style: none;
}
.fancylist li {
  position: relative;
  padding-left: 18px;
}
.fancylist li:before {
  content: "";
  height: 1px;
  width: 8px;
  background: black;
  position: absolute;
  left: 0;
  top: 50%;
}


/*# sourceMappingURL=style.css.map */
